# Ignore everything
*

# But not these files...
!.gitignore
!GBR_train.py
!predict.py
!requirements.txt
!MODELSCARD
!README.md
!knn_compare_model

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!*/models/artifacts.joblib
!*/output/predictions.csv
